.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.logo {
  height: 300px;
  width: 300px;
}

:root {
  --ifm-color-primary: #434345;
  --ifm-color-primary-dark: #3c3c3e;
  --ifm-color-primary-darker: #39393b;
  --ifm-color-primary-darkest: #2f2f30;
  --ifm-color-primary-light: #4a4a4c;
  --ifm-color-primary-lighter: #4d4d4f;
  --ifm-color-primary-lightest: #57575a;
  --ifm-color-secondary-dark: #b7524d;
}

[data-theme='dark'] {
  --ifm-color-primary: #bcbcba;
  --ifm-color-primary-dark: #aaaaa7;
  --ifm-color-primary-darker: #a0a09e;
  --ifm-color-primary-darkest: #858581;
  --ifm-color-primary-light: #cececd;
  --ifm-color-primary-lighter: #d8d8d6;
  --ifm-color-primary-lightest: #f3f3f3;
  --ifm-color-secondary-dark: #a94944;
}